<?xml version="1.0"?>
<config>
    <modules>
        <OuterEdge_ConfigProductReport>
            <version>1.0.3</version>
        </OuterEdge_ConfigProductReport>
    </modules>
    <global>
        <helpers>
            <configproductreport>
                <class>OuterEdge_ConfigProductReport_Helper</class>
            </configproductreport>
        </helpers>
        <blocks>
            <configproductreport>
                <class>OuterEdge_ConfigProductReport_Block</class>
            </configproductreport>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <configproductreport after="Mage_Adminhtml">OuterEdge_ConfigProductReport_Adminhtml</configproductreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>